---
type TProps = {
  title: string;
  description: string;
};

// Components
import MainHeader from "./MainHeader.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

// Styles
import "../styles/global.css";

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
} = Astro.props as TProps;
---

<html lang="en">
  <MainHeader title={title} description={description} />
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
